@import 'normalize';
@import 'base';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.no-scroll {
  overflow-y: hidden;
}

$card_trans_duration: .125s;
$card_trans: transform $card_trans_duration ease-in-out;
$card_header_scale: .95;

.card {
  margin-bottom: 2.5%;
  transform: scaleX($card_header_scale);
  transition: $card_trans;
}

.card-header {
  background-color: #555;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-header h1 {
  margin: 0;
  color: #DDD;
  transition: $card_trans;
  transform: scaleX(1 + 1 - $card_header_scale);
}

.card-body--outer {
  background-color: #DDD;
  height: 0;
  overflow: hidden;
  transform-origin: top;
  transition: $card_trans;
}

.card-body--inner {
  padding: 2.5% 5%;
}

.card.expanded {
  transform: scaleX(1);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  .card-header h1 {
    transform: scaleX(1);
  }
  .card-body--outer {
    height: auto;
    min-height: calc(100vh - 360px);
  }
  & + .card {
    margin-top: calc(360px + 2.5%);
  }
}

.card.anim-in {
  .card-body--outer {
    animation-name: cardExpansion;
    animation-duration: $card_trans_duration;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
}
.card.anim-out {
  .card-body--outer {
    animation-name: cardExpansion;
    animation-duration: $card_trans_duration;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }
}



@keyframes cardExpansion {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
