@import 'normalize';
@import 'base';

$small: 400px;
$medium: 700px;
$large: 1000px;

:root {
  --card-scale: .925;
  --gutter: calc((1 - var(--card-scale))/2 );
  --card-height: 300px;
  --header-height: 60px;
  @media (min-width: $small) {
    --card-scale: .95;
    --card-height: 360px;
  }
  @media (min-width: $medium) {
    --card-height: 480px;
  }
}

$card_header_scale: var(--card-scale);
$card_invert_scale: calc(1 + 1 - var(--card-scale));
$card_trans_duration: .25s;
$card_trans: all $card_trans_duration ease-in-out;

html,
body {
  height: 100%;
}


header {
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  padding: 12px calc(var(--gutter) * 100%);
}

.site-title {
  color: inherit;
  text-decoration: none;
  h1 {
    margin: 0;
    font-weight: 700;
    line-height: 1;
  }
}

@mixin card_state__default {
  &::before {
    transform: scaleY(0);
  }
  .card-header h1 {
    transform: scaleX($card_invert_scale);
  }
  .card-body--outer {
    opacity: 0;
    transform: scaleX($card_invert_scale);
  }
  .card-body--inner {
    opacity: 0;
    transform: translateY(-10vh);
  }
}

@mixin card_state__expanded {
  &::before {
    transform: scaleY(1);
  }
  .card-header h1 {
    transform: scaleX(1);
  }
  .card-body--outer {
    opacity: 1;
    transform: scaleX(1);
  }
  &.content-loaded {
    .card-body--inner {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@mixin card_color($color, $invert: false) {
  @if $invert == true {
    color: mix($color, black, 20%);
  } @else {
    color: white;
  }
  &::before,
  .card-header,
  .card-body--outer {
    background-color: $color;
  }
}

#card-wrapper {
  box-sizing: content-box;
  padding-top: var(--header-height);
  opacity: 0;
  transition: opacity .5s ease;
  &.visible {
    opacity: 1;
  }
}

.card {
  @include card_color(#1A1A1A);
  position: absolute;
  top: 0;
  width: 100%;
  scroll-behavior: smooth;
  transition: transform $card_trans_duration ease-in-out;
  .no-trans & {
    transition: none;
  }
  @include card_state__default;
  &::before {
    content: '';
    display: block;
    position: fixed;
    top: calc(var(--card-height) - 1px);
    left: 0;
    width: 100%;
    height: calc(100vh - var(--card-height));
    z-index: 0;
    transform-origin: top;
    transition: all $card_trans_duration ease-in-out;
  }
}

.card-header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: inherit;
  background-color: inherit;
  height: var(--card-height);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  .card:not(.expanded) & {
    cursor: pointer;
  }
}

.card-header h1 {
  margin: 0;
  letter-spacing: .5px;
  transition: $card_trans;
  width: 95%;
  padding: 5%;
}

.card-body--outer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 0;
  overflow: hidden;
  transition: transform $card_trans_duration ease-in-out,
              opacity $card_trans_duration ease-in-out;
}

.card-body--inner {
  position: relative;
  z-index: 1;
  padding: 2.5% 5% 25% 5%;
  max-width: 680px;
  opacity: 0;
  transition: all $card_trans_duration ease-out;
  @media (min-width: $small) {
    padding-bottom: 15%;
  }
}

.card.expanded {
  @include card_state__expanded;
  position: fixed;
  z-index: 1;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  .card-body--outer {
    height: auto;
    min-height: calc(100vh - var(--card-height));
  }
}

#close-project {
  position: fixed;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: none;
  pointer-events: none;
  cursor: pointer;
  z-index: 40;
  &.visible {
    transition: opacity .2s;
    opacity: .9;
    pointer-events: all;
  }
}


.card.anim-in {
  .card-body--outer {
    transition: transform $card_trans_duration ease-in-out,
                opacity $card_trans_duration ease-in-out .25s;
  }
}

.card.content-loaded {
  .card-body--inner {
    transition-duration: .5s;
  }
}

.card.anim-out {
  @include card_state__default;
}



#project-2 {
  @include card_color(#FF5F57);
}
#project-3 {
  @include card_color(#C4C4C4, true);
}
#project-4 {
  @include card_color(#17E0BC, true);
}
